{% extends "base.html" %}
{% block content %}
<b><font size=100><center>BenAtCost</center></font></b></br>
  <center><img src="https://thecioleader.files.wordpress.com/2014/07/man_looking_at_clouds.jpg?w=610"></center>
  <center><u><b><h1>We manage the cloud so you don't have to</h1></b></u></center>
  <h2><u>Services</u></h2>

  <h4><u>Web Hosting</u></h4>
  Do you have a website? Well so do we and we can help you host it!

  <h4><u>Storage</u></h4>
  Do you have cat videos you can't loose? We have parteneted with Google Drive to make sure your data is always avalaible.

  <h4><u>Email Server</u></h4>
  Are you on an e-mail chain promosing you true love, if you send an e-mail to ten people? Well so am I am and I'm still waiting for my true
  love to show up.

  <h4><u>Uptime</u></h4>
  So at BenAtCost we determine uptime differently then other companies. Our method is more accurate. If the bits are moving, the doritoes
  are cheesy, and the power is on, then we are up!

<h2><u>Location</u></h2>
We deliver the power of BenAtCost to your modem.
<img src="https://upload.wikimedia.org/wikipedia/commons/0/09/BlankMap-World-v2.png">


{% endblock %}
