{% extends "base.html" %}
{% block content %}
<center>
<h1><u><b>Pricing</b></u></h1>
 <!-- PRICING TABLE STYLE 1-->
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                  <div class="price_table_heading">Freshmen Year</div>
                  <div class="price_table_body">
                      <div class="price_table_row cost warning-bg"><strong>One Case of Beer</strong><span>/MONTH</span></div>
                      <div class="price_table_row">1 Website</div>
                      <div class="price_table_row">10 GB Storage</div>
                      <div class="price_table_row">10 GB Bandwidth</div>
                      <div class="price_table_row">10 Email Addresses</div>
                      <div class="price_table_row">Free Backup</div>
                      <div class="price_table_row">Full Time Support</div>
                  </div>
                  <a href="#" class="btn btn-warning btn-lg btn-block">Sign Up</a>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="recommended"><strong><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> RECOMMENDED</strong></div>
              <div class="price_table_container">
                  <div class="price_table_heading">Basic White Girl</div>
                  <div class="price_table_body">
                      <div class="price_table_row cost primary-bg"><strong>Two Case of Beer</strong><span>/MONTH</span></div>
                      <div class="price_table_row">10 Websites</div>
                      <div class="price_table_row">100 GB Storage</div>
                      <div class="price_table_row">100 GB Bandwidth</div>
                      <div class="price_table_row">50 Email Addresses</div>
                      <div class="price_table_row">Free Backup</div>
                      <div class="price_table_row">Full Time Support</div>
                  </div>
                  <a href="#" class="btn btn-primary btn-lg btn-block">Sign Up</a>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                  <div class="price_table_heading">White Girl</div>
                  <div class="price_table_body">
                      <div class="price_table_row cost success-bg"><strong>Three Case of Beer</strong><span>/MONTH</span></div>
                      <div class="price_table_row">100 Websites</div>
                      <div class="price_table_row">1 TB Storage</div>
                      <div class="price_table_row">1 TB Bandwidth</div>
                      <div class="price_table_row">100 Email Addresses</div>
                      <div class="price_table_row">Free Backup</div>
                      <div class="price_table_row">Full Time Support</div>
                  </div>
                  <a href="#" class="btn btn-success btn-lg btn-block">Sign Up</a>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                  <div class="price_table_heading">Katy Perry Friday Night</div>
                  <div class="price_table_body">
                      <div class="price_table_row cost info-bg"><strong>Half a keg</strong><span>/MONTH</span></div>
                      <div class="price_table_row">Unlimited Websites</div>
                      <div class="price_table_row">10 TB Storage</div>
                      <div class="price_table_row">100 TB Bandwidth</div>
                      <div class="price_table_row">1000 Email Addresses</div>
                      <div class="price_table_row">Free Backup</div>
                      <div class="price_table_row">Full Time Support</div>
                  </div>
                  <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
              </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12 float-shadow">
              <div class="price_table_container">
                  <div class="price_table_heading">Let's Frat</div>
                  <div class="price_table_body">
                      <div class="price_table_row cost info-bg"><strong>A keg</strong><span>/MONTH</span></div>
                      <div class="price_table_row">Unlimited Websites*</div>
                      <div class="price_table_row">All the storage*</div>
                      <div class="price_table_row">All the bandwidth*</div>
                      <div class="price_table_row">Unlimited SMTP relay out*</div>
                      <div class="price_table_row">Unlimited Google Drive Backups*</div>
                      <div class="price_table_row">Uptime like my sleeping schedule*</div>
                  </div>
                  <a href="#" class="btn btn-info btn-lg btn-block">Sign Up</a>
              </div>
          </div>

      </div>
  </div>
</center>
{% endblock %}
